
button:hover{
    background-color: rgb(171, 83, 223);
}

input{
    margin-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
    width: 70%;
    border: 2px solid black;
    font-size: 25px;
}
#tabmain{
    width: 100%;
}
#table{
    font-size: bold 25px;
    width: 100%;
    padding: 20px;
    text-align: center;

}
.add{
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    text-align: justify;


}
td{
    text-align: center;
    font-size: 25px;
    padding-top: 3%;
}
button{
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
